<!DOCTYPE html>
<html>
    <head>
        <title>WePay Support Dashboard</title>
        <meta name="csrf-token" content="<%= csrfToken %>">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href = "/static/css/react-bootstrap-table-all.min.css">-->
        <link rel="stylesheet" href="/static/css/toastr.css">
        <link rel="stylesheet" href="/static/css/react-bootstrap-table.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class = "navbar navbar-default">
            <div id="navbar-header">
                <div class="navbar-brand">
                    WePay Support Dashboard
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="https://status.wepay.com/" target="blank">WePay Status Page</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <div class="todoapp" id="root">
            </div>
        <div>

        <!-- application script -->
        <script src="/static/bundle.js"></script>
        <script>
            /*make all ajax calls pass the CSRF token via a header back to the client*/
            $.ajaxSetup({
                headers: {"X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content')}
            })
        </script>
    </body>
</html>
